@layer base {
  body {
    font-family: var(--font-family-sans) !important;
    @apply !bg-[var(--color-truvi-guest-black-chalk)] antialiased;
    color: #242424 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading) !important;
    @apply font-bold;
  }
}
