@import "tailwindcss";

@import "./theme.css";
@import "./base.css";
@import "./components/footer.css";
@import "./components/header.css";
@import "./components/buttons.css";
@import "./components/hero-banner.css";
@import "./components/things-go-wrong.css";
@import "./components/steps-slider.css";
@import "./components/trusted-slider.css";
@import "./components/ready-to-go.css";
@import "./components/animations.css";
@import "./components/faqs.css";
@import "./components/page-banner.css";
@import "./components/our-mission.css";
@import "./components/we-discovered.css";
@import "./components/different-slider.css";
@import "./components/contact.css";
@import "./components/tpm-plugin.css";
@import "./components/back-to-top.css";
@import "./components/wc-overrides.css";
@import "./utilities.css";
