/* Your utilities */
@layer utilities {
	.font-sans {
		font-family: var(--font-family-sans);
	}
	.font-heading {
		font-family: var(--font-family-heading);
	}

	/* fixes for my account/trips page */
	.separate-containers .site-main {
		margin: 0 !important;
	}
	.entry-content:not(:first-child) {
		margin-top: 0 !important;
	}

	.error404 {
		.content-area#primary {
			@apply mx-[10vw]! w-auto!;
		}
	}

	#info-top-banner {
		/* starts hidden → jQuery slides it down */
		@apply hidden px-2 py-1 text-sm md:text-base;
		i {
			@apply mt-1 font-semibold cursor-pointer;
		}
		span {
			@apply font-semibold;
		}
	}

	/* .separate-containers .inside-article {
    @apply mx-[5%]! w-auto;
  } */

	.content-area#primary {
		margin: 0 5vw;
		width: auto;
	}

	.page-template-page-new-products,
	.page-template-favs-template {
		.content-area#primary {
			@apply mb-20;
		}
	}

	.page-template-default,
	.page-template-help-template,
	.blog,
	.single-post {
		.content-area#primary {
			@apply mx-[5vw] md:mx-[15vw] my-[5vh] md:my-[10vh];
			width: auto;

			h1 {
				@apply mb-4 text-2xl md:text-4xl text-center;
			}

			h2 {
				@apply mb-4 text-xl md:text-3xl;
			}

			ul {
				@apply mb-4 list-disc list-inside;
				li {
					@apply mb-2;
				}
			}
			p {
				em {
					@apply block mb-4 text-sm;
				}
			}

			hr {
				@apply my-8;
			}
		}
	}
}
