/* Your components */
@layer components {
  .truvi-footer {
    .footer-menu {
      @apply !m-0;
      li {
        @apply mb-1 list-none;
        a {
          @apply text-[var(--color-wyz-guest-white)]! text-xl no-underline! hover:underline!;
        }
      }
    }

    .footer-col {
      h4 {
        @apply mb-1! font-bold text-[var(--color-wyz-guest-white)] text-xl!;
      }
    }
  }
}
