#linkme-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    @apply !bg-[var(--color-truvi-guest-black-chalk)];
    color: #fff;
    z-index: 9999;

    transform: translateY(100%);
    transition: transform 0.4s ease;
}

#linkme-panel.active {
    transform: translateY(0);
}

#linkme-panel .linkme-content {
    padding: 100px 20px;
    overflow-y: auto;
    height: 100%;
}

#close-linkme {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}
