.steps-slider .slick-list {
  margin: 0 -10px;
  padding: 10px 0;
}

.steps-slider .slick-track {
  display: flex !important;
  gap: 20px;
}

.steps-content p {
  @apply mb-0! leading-none;
}

@media screen and (min-width: 768px) {
  .half-slide-right {
    padding-left: 0 !important;
    margin-left: -20px;
  }

  .half-slide-right .slick-list {
    padding-right: 0;
    margin-right: -15%; /* Adjust this value as needed */
  }

  .half-slide-right .slick-track {
    margin-left: 0;
  }

  /* Adjust slide spacing if needed */
  .half-slide-right .step-slider-item {
    margin-right: 10px; /* Add gap between slides */
  }
}
