.tpm-header {
  h2 {
    @apply mb-0 font-semibold text-[40px] text-[var(--color-truvi-guest-black-chalk)] md:text-[78px] leading-10 md:leading-20;
  }
  span {
    font-family: var(--font-family-heading);
  }
}

.customer-welcome {
  @apply flex flex-col gap-2.5 font-medium text-xl md:text-2xl leading-5 md:leading-8;
}

/* credits section */
.tpm-credits-info {
  h3 {
    @apply font-medium text-2xl leading-8;
  }
}

.credits-display {
  @apply flex gap-2.5 mb-3.5;
}

.credit-item {
  @apply flex flex-col items-start;
}

.credit-label {
  @apply mb-2.5 font-family-heading font-medium md:text-[20px] text-base text-nowrap leading-5;
}

.credit-value {
  @apply font-family-heading text-[64px] leading-[60px];
  &.has-credits {
    @apply text-[var(--color-truvi-guest-green)];
  }
  &.no-credits {
    @apply text-[var(--color-truvi-guest-red)];
  }
}

.no-credits-notice {
  @apply flex gap-2 items-center p-3 rounded-lg border border-[var(--color-truvi-guest-red)] bg-[var(--color-truvi-guest-red)]/20;
  i {
    @apply text-[var(--color-truvi-guest-red)] text-xl;
  }
  p {
    @apply mb-0 font-medium text-[var(--color-truvi-guest-red)] text-center;
    a {
      @apply text-[var(--color-truvi-guest-black-chalk)];
    }
  }
}

.active-credits-notice {
  @apply flex gap-2 items-center p-3 rounded-lg border border-[var(--color-truvi-guest-green)] bg-[var(--color-truvi-guest-green)]/20;
  i {
    @apply text-[var(--color-truvi-guest-green)] text-xl;
  }
  .credits-message {
    @apply mb-0 font-medium text-[var(--color-truvi-guest-green)] text-center;
  }
}

/* trips section */
.trip-status {
  @apply px-5 py-2.5 rounded-full w-fit font-bold text-base uppercase;
}

.status-pending {
  @apply bg-[var(--color-truvi-guest-yellow)];
}

.status-approved {
  @apply bg-[var(--color-truvi-guest-green)] text-[var(--color-wyz-guest-white)];
}

.status-declined {
  @apply bg-[var(--color-truvi-guest-red)] text-[var(--color-wyz-guest-white)];
}

.tpm-trips-section {
  @apply px-5 md:px-60 py-[50px] md:py-[120px];
  h3 {
    @apply mb-6 md:mb-[60px] font-semibold text-[32px] md:text-[64px] md:leading-[60px];
  }

  .trip-order-info {
    @apply font-normal text-[20px] leading-normal;
  }
  .trip-details {
    @apply text-[20px];
  }
}

.tpm-section-header {
  @apply mb-5 w-full md:w-fit;
}

/* Need another trip prompt */
.purchase-more-prompt {
  grid-column: 1 / -1;
  border-radius: 35px;
  @apply bg-[var(--color-truvi-guest-black-chalk)] mt-7 p-8 border border-[var(--color-truvi-guest-black-chalk)] text-center;
}

.prompt-content h4 {
  @apply text-[var(--color-wyz-guest-white)];
  margin: 0 0 10px 0;
  font-size: 24px;
}

.prompt-content p {
  @apply text-[var(--color-wyz-guest-white)];
  margin: 0 0 20px 0;
}

.prompt-content a {
  @apply mx-auto w-fit;
}

/* add trip modal  */
.credits-reminder {
  background: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.credits-reminder p {
  margin: 0;
  color: #155724;
}

/* Access Denied Styles */
.tpm-access-denied {
  @apply px-5 lg:px-60 py-2 md:pt-[60px] lg:pt-[120px];
  border-radius: 35px;
}

.tpm-access-denied h3 {
  margin-top: 0;
  font-size: 24px;
}

.tpm-access-denied p {
  font-size: 20px;
  margin: 20px 0;
}

.tpm-access-denied .tpm-btn {
  @apply flex justify-center items-center bg-[var(--color-truvi-guest-black-chalk)] hover:bg-[var(--color-wyz-guest-white)] mx-auto px-10 py-2.5 border border-[var(--color-truvi-guest-black-chalk)] hover:!border-[var(--color-truvi-guest-black-chalk)] rounded-full w-fit h-[60px] font-bold! !text-[var(--color-wyz-guest-white)] text-xl! hover:!text-[var(--color-truvi-guest-black-chalk)] transition-all no-underline!;
}

/* Login area on my account if logged out */
/* Hide the register tab */
.woocommerce .u-column2,
.woocommerce .col-2,
.woocommerce h2:contains("Register"),
.woocommerce .woocommerce-form-register {
  display: none !important;
}

.woocommerce .u-column2 {
  display: none !important;
}

.woocommerce .u-column1 {
  @apply w-full!;
  h2 {
    @apply hidden font-family-heading text-[36px] text-left;
  }
}

.woocommerce form.login {
  @apply m-0 border-0;
}
